* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	margin: 0;
	padding-bottom: 100px; /* Same height as footer */
}
main{
	padding-top: 100px;
	background-image: url(/Images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
h1, h2, h3, h4, h5 {
	color: white;
}
h1 {
	color:black;
}
#image{
	width:150px;
	height:180px;
}
#productHead{
	display: inline-block;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	color: #FFFFFF;
}

header {
	border-bottom: 1px solid #EEEEEE;
}
header .content-wrapper {
	display: flex;
	width: 100%;
	position: fixed;
	background-color: white;

}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 20px;
	margin: 0;
	padding: 24px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
}
header nav a {
	text-decoration: none;
	color: black;
	padding: 10px 10px;
	margin: 0 10px;
	width:max-content;
}
header nav a:hover {
	border-bottom: 1px solid #aaa;
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #394352;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 18px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: black;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}
main,.featured {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

main .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	color: #FFFFFF;
	padding-bottom: 10px;
}
main .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 24px;
	color: #FFFFFF;
}
main .recentlyadded h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}
main,.recentlyadded,.products, main,.products,.products-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	overflow: hidden;
	width: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.name{
	margin:auto ;
}
.navigate{
	padding-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main .recentlyadded .products .product img, main .products .products-wrapper .product img{
	border: 1px solid lightblue;
}
.icon{
	border: 1px solid lightblue;
	border-radius: 10%;
	margin-left: 5px;
	width:auto;
	height:300px;
}
main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	display: block;
	color: white;
	text-shadow:0px 0px 10px #FF0000, 0 0 5px #0000FF;
	padding: 20px 0 2px 0;
}
main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	display: block;
	color: black;
}
main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
}
main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
main > .product {
	display: flex;
	padding: 40px 0;
	margin-left: 30px;
}
main > .product > div {
	padding-left: 15px;
}
main > .product h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 5px 0;
}
main > .product .price {
	display: block;
	text-align: center;
	font-size: 22px;
	color:black;
}
main > .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
	font-size: 22px;
	padding-left: 5px;
}
main > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
main > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main > .product form input[type="submit"] {
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
main > .product form input[type="submit"]:hover {
	background: #434f61;
}
main > .products h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 20px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	padding: 12px 20px;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0px;
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main .cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .cart table {
	width: 100%;
}
main .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
	font-weight: bold;
}
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table tbody td:last-child {
	text-align: right;
}
main .cart table .img{
	width: 80px;
}
main .cart table .remove {
	color: rgb(93, 19, 19);
	font-weight: bold;
	font-size: 12px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price{
	color:black;
}

main .cart table a {
	text-decoration: none;
	color: white;
}
main .cart table input[type="number"] {
	width: 50px;
	padding: 10px;
	color: black;
	border-radius: 5px;
	margin: auto;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: black;
	font-weight: bold;
}
main .cart .cartButtons input[type="submit"] {
	padding: 12px 20px;
	border-radius: 5px;
	background: #4e5c70;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: 0;
}
.cartButtons{
	padding-bottom: 1%;
	text-align:right;
}

main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart input[type="submit"]:hover {
	background: #434f61;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}
footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #EEEEEE;
	padding: 20px 0;
	width: 100%;
}
.imgCart{
	border-radius: 10px 10px 10px 10px;
}
.details{
	text-align: left;
	color: black;
	margin-left: 30px;
}
.details h3{
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 34px;
	margin-left: 20px;
}
.details ul h3,#contactHead{
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 34px;
	margin:0;
}
.details p,li{
	margin-left: 20px;
	text-align: left;
	color: black;
}
.message,input[type="text"],input[type="email"]{
	display: flex;
	column-gap: 10%;
	margin: 0;
}
.details input[type="submit"]{
	padding: 12px 20px;
	margin-top: 10px;
	border-radius: 5px;
	background: #4e5c70;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: 0;
}
.map{
	margin-left: 20px;
}
.back{
	margin-left: 3px;
	margin-top: 20%;
	position: fixed;
	border: 1px solid none;
	border-radius:10px 10px 10px 10px;
	background-color:#4e5c70;
	width:30px;
	height: 30px;
	text-align: center;
	padding-top: 3px;
}
.backLink{
	color: white;
	text-align: center;	
}
.backLink:hover{
	color: black;
}

.back:hover{
	background-color: #434f61;
}

@media screen and (max-width: 700px) {
	.products,.products-wrapper{
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	#productHead{
		width: auto;
	}
	#image{
		width: auto;
	}

}
@media screen and (max-width: 500px) {
	.content-wrapper{
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px;
	}
	main{
		padding-top: 170px;
	}
}
@media screen {
	html {
	  scroll-behavior: smooth;
	}
}
.index{
    background-image: url(/IMAGES/background.jpg);
	background-size: stretch;
}
.indexPage{
    display: flex;
    flex-direction: row;
    
}
.register,.login{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color:  #0487E2;
    padding:20px;
    border-radius:8px 8px 8px 8px;
    border: solid 1px  #0487E2;
    margin-left: 10%;
    margin-top: 10%;
	color: black;
}
.indexPageRegister{
	margin:auto
}